<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script src="test.js"></script>
</head>

<body>


    <div ng-app="dipen">

        <div ng-controller="myctr">

            <!-- <input type="text" ng-model="name">
        {{name}}
        {{xyz}} -->

        {{test()}}

        <!-- <h1 ng-bind="name"></h1> -->

        </div>

        
<!-- 
        <h1 ng-init="number=56;name='hardik';color=['red','white','green']">{{"number=" + number + "Name=" + name}}</h1>
        
        <ul>
            <li ng-repeat="x in color">{{x}}</li>
        </ul> -->

    </div>

</body>

</html>